@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("react-toastify/dist/ReactToastify.css");
@import url("theme.css");
@import url("flex.css");
@import url("overwrite.css");
@import url("font.css");

body {
  font-family: Roboto, Arial, Helvetica !important;
  font-size: 15px !important;
}

.col-m-450 {
  min-width: 450px;
}

.col-m-500 {
  min-width: 500px;
}
